{% load cms_tags menu_tags sekizai_tags %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}This is my new project home page{% endblock title %}</title>
    {% render_block "css" %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
</head>
<body>
{% cms_toolbar %}
    <div class="container">
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Charlie and Heidis Wedding</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            {% show_menu 0 1 100 100 "menu.html" %}
          </ul>
        </div>
      </div>
    {% block content %}
    {% endblock content %}
</div>
{% render_block "js" %}
</body>
</html>
