body {
    background: #eee;
    font-family: Helvetica, Arial, Sans-serif;
    color: #dfdfdf;
}

a:link,
a:visited {
    color: #000;
    text-decoration: none;
}

a:hover {
    border-bottom: 1px solid #ddd;
}